h1 {
  font-size: 5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Start-div {
  justify-content: center;
  align-items: center;
  display: flex;
}

.Start {
  cursor: pointer;
}

.gamecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Stoneimage {
  cursor: pointer;
  margin: 30px;
  transition: transform 0.2s ease-in-out;
}

.Paperimage {
  cursor: pointer;
  margin: 30px;
  transition: transform 0.2s ease-in-out;
}

.Scissorimage {
  cursor: pointer;
  margin: 30px;
  transition: transform 0.2s ease-in-out;
}

.userselection {
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
